.contacto {
  margin-top: 50px;
}

.contacto h1 {
  text-align: center;
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 45px;
  line-height: 40px;
  z-index: 2;
  position: relative;
  color: #373737;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.contactos-content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 150px;
  margin-top: 58px;
}

.contactos-content-left {
  width: 600px;
}

.contactos-content-left h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  line-height: 20px;
  color: black;
}

.contactos-content-left form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-contactanos label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 5px 0;
}

.form-contactanos input {
  padding: 9px 8px;
  font-family: "Open Sans", sans-serif;
  color: #373737;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #555555;
  outline: none;
  margin: 10px 0;
  letter-spacing: 1px;
}

.form-telefono {
  display: flex;
  width: 100%;
  gap: 10px;
}

.ant-select-selector {
  border: none !important;
  background: none !important;
}

.ant-select-focused {
  border: none !important;
  background: none !important;
}

.form-contactanos .form-codigo {
  width: 150px;
  padding: 9px 8px;
  font-family: "Open Sans", sans-serif;
  color: #373737;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #555555;
  outline: none;
  margin: 10px 0;
  letter-spacing: 1px;
}

.form-contactanos .form-movil {
  width: 100%;
}

.form-contactanos input:focus {
  border: 1px solid #e6007e;
}

.form-contactanos textarea {
  padding: 12px 8px;
  height: 100px;
  color: #373737;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #555555;
  outline: none;
  margin: 10px 0;
  letter-spacing: 1px;
  resize: none;
}

.form-contactanos textarea:focus {
  border: 1px solid #e6007e;
}

.submit-content {
  display: flex;
  justify-content: flex-end;
}

.btn-submit {
  width: 200px;
  padding: 12px 8px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #f52d8a;
  color: white;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: rgba(245, 45, 138, 0.9);
}

.btn-submit:active {
  background-color: rgba(245, 45, 138, 0.8);
}

.contactos-content-right {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.contactos-content-right h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 20px;
  color: #e6007e;
  font-weight: bolder;
}

.contactos-content-right .datos {
  display: block;
  margin-right: 15px;
}

.contactos-content-right .datos div > a {
  color: #757575;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

.contactos-content-right .datos div > a:hover {
  text-decoration: underline;
}

.contactos-content-right .datos div {
  margin-bottom: 10px;
}

.contactos-content-right .inner {
  display: block;
  margin-right: 15px;
}

.contactos-content-right .inner span a {
  color: black;
  font-size: 20px;
  margin: 0 15px;
}

.facebook a ion-icon:hover {
  color: #097ceb;
}

.instagram a ion-icon:hover {
  color: #f52d8a;
}

.youtube a ion-icon:hover {
  color: #f52b2b;
}

.frases {
  display: block;
  margin-right: 15px;
  margin-top: -15px;
}

@media screen and (max-width: 1200px) {
  .contactos-content {
    gap: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .contactos-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .contactos-content-left {
    width: 390px;
  }
}

@media screen and (max-width: 405px) {
  .contactos-content-left {
    width: 300px;
  }

  .contactos-content-right {
    width: 300px;
  }
}
