.MejoresDestinosContent {
  flex: 0.8;
}

.MejoresDestinosContent-informacion > h1 {
  text-align: center;
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 45px;
  line-height: 40px;
  z-index: 2;
  position: relative;
  color: #373737;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.MejoresDestinosContent-informacion > p {
  min-width: 900px;
  text-align: justify;
}

.MejoresDestinosContent-informacion {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  padding-top: 50px;
  height: fit-content;
  align-items: center;
}

.MejoresDestinosContent-informacion-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}

.MejoresDestinosContent-informacion-header img {
  border-radius: 5px;
}

.MejoresDestinosContent-informacion-header ul li {
  color: #757575;
  font-size: 14px;
}

.MejoresDestinosContent-foot {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.MejoresDestinosContent-foot__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: rgb(247, 246, 246);
  border-radius: 10px;
  margin-top: 10px;
  width: 470px;
}

.MejoresDestinosContent-foot__bottom > p {
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.MejoresDestinosContent-foot__recentItem {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: lightgray;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 2px;
}

.sidebar__recentItem > p {
  padding: 0 5px;
}

.limaGastronomica {
  margin-top: 20px;
  border: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  padding-top: 20px;
  height: fit-content;
}

.limaGastronomica-title {
  font-size: 20px;
  color: #373737;
}

.limaGastronomica ul {
  margin-top: 10px;
  width: fit-content;
  padding: 0 30px;
}

.limaGastronomica ul li {
  color: #757575;
  font-size: 15px;
  line-height: 22px;
}
